/*
+-------------------------------------------------------+
| Rajarshi Das						                    |
+-------------------------------------------------------+
| Created On: 22-Dec-2022				                |
| Updated On: 											|
+-------------------------------------------------------+
*/
body{
    background-color: #173f4f;
    font-size: 1.5rem;
}
.rd-banner {
    color: #35b9ab;
    padding-top: 5rem;
    font-size: 300%;
}
.rd-content {
    color: white;
}
.rd-text-muted-gray {
    color: RGB(210,210,210);
}
